<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question {{ question }}</title>
</head>
<body>

<h1>{{ question.question_text }}</h1>



<form action="{% url 'polls:vote' question.id %}" method="post">
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="Choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}
<input type="submit" value="Vote">
</form>
<br/>

<h2>delete</h2>
<form action="{% url 'polls:del' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="Choice" id="choice_del{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice_del{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}

<input type="submit" value="delete">

</form>
<br/>
<br/>
 <h2><a href="/">Go Back to Home </a></h2>





</body>
</html>
