<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Data</title>
</head>
<body>
<center><h1>Register</h1></center>
<form action="{% url 'data'}" method="get">
    {% csrf_token %}

        <fieldset>
            <legend>username</legend>

            username: <input type="text" name="txt_name" size="20" maxlength="30" /> <br />
            password:   <input type="password" name="txt_passw" value="" size="21" maxlength="30" />

        </fieldset>

<br/>
    <fieldset>
        <legend>Personal data</legend>

Name :
<input type="text" name="txt_name" size="20" maxlength="30" /> <br />
    Sex :
<input type="radio" name="sex" value="M" /> Male
<input type="radio" name="sex" value="F" /> Female <br />
         Sex (เลือกได้ 2 แต่ไม่ควร):
<input type="radio" name="sex1" value="M" /> Male
<input type="radio" name="sex2" value="F" /> Female <br />
Age :
<select name="lst_age">
<option value="" >-</option>
<option value="1" >1-10</option>
<option value="2">11-20</option>
<option value="3">21-30</option>
<option value="4">31-40</option>
<option value="5">>40</option>
</select>
</fieldset>

<br/>
    <fieldset>
    <legend>Your interesting</legend>
    <br/>

Section :
<input type="checkbox" name="chk1" value="Yes" /> HTML
<input type="checkbox" name="chk2" value="Yes" /> PYTHON
<input type="checkbox" name="chk3" value="Yes" /> Java
<br />
    Comment : <br />
<textarea wrap="off" name="txt_comment" rows="6" cols="20">
</textarea>
</fieldset>

    <p align="center">
<input type="submit" value="Submit" />
<input type="reset" value="Reset" />
</p>
<input type="hidden" name="id" value="1234" />

</form>





</body>
</html>
