<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>multiplicate</title>
</head>
<body>

{% for item in number %}
    {{num}}* {{forloop.counter}} = {{item}}<br>
{% endfor %}
<br>>
ใช้เลขนี้ไปแล้ว :
{% for i in stat %}
    {{i}}
{% endfor %}
<!--{{num}}*1 = {{number1}}<br>-->
<!--{{num}}*2 = {{number2}}<br>-->
<!--{{num}}*3 = {{number3}}<br>-->
<!--{{num}}*4 = {{number4}}<br>-->
<!--{{num}}*5 = {{number5}}<br>-->
<!--{{num}}*6 = {{number6}}<br>-->
<!--{{num}}*7 = {{number7}}<br>-->
<!--{{num}}*8 = {{number8}}<br>-->
<!--{{num}}*9 = {{number9}}<br>-->
<!--{{num}}*10 = {{number10}}<br>-->
<!--{{num}}*11 = {{number11}}<br>-->
<!--{{num}}*12 = {{number12}}<br>-->



</body>
</html>
